---
layout: base
---
<article class="post">

  <header class="post-header">
    <style>
      .header-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
      
      .avatar {
        border-radius: 50%;
        object-fit: cover;
      }
    </style>
    <div class="header-container">
      {% avatar technocidal size=180 %}
      <div>
        <h1 class="post-title">{{ page.title | escape }}</h1>
        <p>{{ site.description }}</p>
      </div>
    </div>
  </header>

  <div class="post-content">
	 {{ content }}
  </div>

</article>